
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title>Hearthstone Website HTML Template</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=1280, maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="../../../front/css/css-reset.css" rel="stylesheet">
    <link href="../../../front/css/style.css" rel="stylesheet">
</head>

<body>
	<div class="top-panel">
		<div class="top-panel-wrapper">
			<ul class="menu">
				<li class="active"><a href="">Home</a></li>
				<li><a href="">Decks</a></li>
				<li><a href="">Articles</a></li>
				<li><a href="">Forum</a></li>
				<li><a href="">Tournaments</a></li>
				<li><a href="">Guides</a></li>
				<li><a href="">Media</a></li>
				<li><a href="">About Us</a></li>
			</ul><!-- menu -->
			<div class="right-top-block">
				<div class="lang-block">
					<a href="javascript:void(0);" class="main-item"> Language <span>(eng)</span> <img src="images/united-states.png" alt=""></a>
					<ul class="hidden-block">
						<li><a href="" class="main-item"> English <img src="images/united-states.png" alt=""></a></li>
						<li><a href="" class="main-item"> German <img src="images/germany.png" alt=""></a></li>
						<li><a href="" class="main-item"> French <img src="images/france.png" alt=""></a></li>
						<li><a href="" class="main-item"> Russian <img src="images/russia.png" alt=""></a></li>
					</ul>
				</div>
				<a href="" class="login">Login</a>
			</div><!-- right-top-block -->
		</div>
	</div><!-- top-panel -->
	<div class="wrapper">

		<header class="header">
			<div class="header-menu flex">
				<div class="soc-block">
					<a href="" class="fb" target="_blank"><i></i> Facebook</a> <a href="" class="tw" target="_blank"><i></i> Twitter</a> <a href="" class="yt" target="_blank"><i></i> Youtube</a>
				</div>
				<div class="logo">
					<a href="/"></a>
				</div>
				<div class="search-block">
					<input type="text" name="search" placeholder="SEARCH..."> <button></button>
				</div>
			</div><!-- header-menu -->
		</header><!-- .header-->

			<div class="container">
				<main class="content">


        {% block body %}{% endblock %}
         </main>
        </div>
       
	<footer class="footer">
			<div id="toTop">
			</div>
			<div class="f-top">
				<img src="../../front/images/f-logo.png" alt="">
				<div class="f-menu-block">
					<ul class="f-menu">
						<li class="active"><a href="">Home</a></li>
						<li><a href="">Decks</a></li>
						<li><a href="">Articles</a></li>
						<li><a href="">Forum</a></li>
						<li><a href="">Tournaments</a></li>
						<li><a href="">Guides</a></li>
						<li><a href="">Media</a></li>
						<li><a href="">About Us</a></li>
					</ul>
					<div class="lang-block">
						<a href="javascript:void(0);" class="main-item"> Language <span>(eng)</span> <img src="images/united-states.png" alt=""></a>
						<ul class="hidden-block">
							<li><a href="" class="main-item"> English <img src="../../front/images/united-states.png" alt=""></a></li>
							<li><a href="" class="main-item"> German <img src="../../front/images/germany.png" alt=""></a></li>
							<li><a href="" class="main-item"> French <img src="../../front/images/france.png" alt=""></a></li>
							<li><a href="" class="main-item"> Russian <img src="../../front/images/russia.png" alt=""></a></li>
						</ul>
					</div>
				</div>
			</div><!-- f-top -->
			<div class="f-bottom">
				<div class="copyright">
					Copyright 2018 © <a href="">SiteName.com</a> <br>
					Fan site is designed to familiarize <br>
					with the game.
				</div>
				<div class="design">
					Designed by <a href="http://dkarts.studio" target="_blank">DKarts.Studio</a> <br>
						for <a href="https://templstock.com" target="_blank">Templstock.com</a>
				</div>
			</div>
		</footer><!-- .footer -->

	</div><!-- .wrapper -->
	<script src="../../../front/js/jquery-2.1.4.min.js"></script>
	<script src="../../../front/js/slider.js"></script>
	<script>
		$(function() {
			$(window).scroll(function() {
				if($(this).scrollTop() != 0) {
				$('#toTop').fadeIn();
				} else {
				$('#toTop').fadeOut();
			}
			});
				$('#toTop').click(function() {
				$('body,html').animate({scrollTop:0},800);
			});
		});
	</script>
</body>
</html>